<!DOCTYPE html>
<html lang="en-us" ng-app="gamesApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>Wesley Games</title>
    <style>
        html, body, iframe, .recipient {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .card .card-content {
            height: 110px;
        }
        .footer {
            display: none;
        }
    </style>
    <script>
        angular.module('gamesApp', [])
            .controller('gamesController', function ($scope) {
                $scope.title = 'Wesley Games';
                $scope.playing = false;
                $scope.currentUrl = '';
                // |-----------testing and development---------------|
                //  Pre-alpha - Alpha - Beta - Release Candidate (RC)
                // |-----------------------------release-----------------------------|
                //  Release to Manufactoring (RTM) - General Availability (GA) - GOLD
                $scope.games = [
                    { title: 'Minefield (RC)', description: 'Test', icon: 'minefield.png', url: 'minefield/index.html' },
                    { title: 'Infinity Run (RC)', description: 'Test', icon: 'infinity-run.png', url: 'infinity-run/index.html' },
                    { title: 'Plataform (RC)', description: 'Test', icon: 'platform-test.png', url: 'plataform-test/index.html' },
                    { title: 'Deck (Beta)', description: 'Test', icon: 'default.png', url: 'baralho-test/index.html' },
                    { title: 'Race (Pre-alpha)', description: 'Test', icon: 'default.png', url: 'corrida-test/index.html' },
                    { title: 'Planet (Pre-alpha)', description: 'Test', icon: 'default.png', url: 'planet-test/index.html' },
                ];
                $scope.changeUrl = function (url) {
                    $scope.playing = true;
                    $scope.currentUrl = url;
                }
                $scope.exit = function () {
                    $scope.playing = false;
                }
            })
            .directive('matrixRain', function () {
                return {
                    link: function link(scope, element) {
                        el = element[0];
                        el.width = window.screen.width;
                        el.height = window.screen.height;
                        var yPositions = Array(300).join(0).split('');
                        var context = el.getContext("2d");
                        var Matrix = function () {
                            context.fillStyle = 'rgba(255,255,255,.05)';
                            context.fillRect(0, 0, el.width, el.height);
                            context.fillStyle = "#aaa";
                            yPositions.map(function (y, index) {
                                text = String.fromCharCode(1e2 + Math.random() * 33);
                                x = (index * 10) + 10;
                                context.fillText(text, x, y);
                                (y > 100 + Math.random() * 1e4) ? yPositions[index] = 0 : yPositions[index] = y + 10;
                            });
                        };
                        setInterval(Matrix, 30);
                    }
                }
            });
    </script>
</head>

<body ng-controller="gamesController">
    <div class="recipient" ng-if="!playing" style="overflow: auto;">
        <h5 style="width: 100%; text-align: center; font-weight: bold;">{{title}}</h5>

        <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
            <div class="card" style="width: 200px;" ng-repeat="game in games">
                <div class="card-image">
                    <img class="card-img-top" src="images/{{game.icon}}" alt="image">
                </div>
                <div class="card-content">
                    <p style="font-weight: bold;">{{game.title}}</p>
                    <p>{{game.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#" class="btn blue" ng-click="changeUrl(game.url)">Play</a>
                </div>
            </div>
        </div>

        <canvas matrix-rain style="z-index : -1; position: absolute; top: 0px;"></canvas>
    </div>

    <div class="recipient" ng-if="playing">
        <div style="display: flex; flex-direction: row; height: 100%;">
            <a href="#" class="btn btn-primary" style="margin: 10px 0 0 10px;" ng-click="exit()">Back</a>
            <iframe id="iframe" src="{{currentUrl}}" style="border-width: 0;"></iframe>
        </div>
    </div>
</body>

</html>